#root {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 0;
  margin-right: 10px;
}

.logo img {
  height: 50px;
}

nav ul {
  display: flex;
  list-style-type: none;
  width: fit-content;
  padding: 0;
  background-color: #333;
}

nav li {
  border-right: 1px solid #bbb;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

nav li .active {
  background-color: #04aa6d;
}

.pvContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats {
  display: flex;
  flex-direction: row;
  width: max-content;
  padding: 14px;
  border-style: solid;
}
